
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0"
>


<div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
    
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button (click)="goBack()">BACK</button>
    <span class="flex-spacer"></span>
    <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
  </mat-card-actions>
</mat-card>
</div>


<div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
  <mat-card>
    <mat-card-title>
        <h3>COMMENTS</h3>
      </mat-card-title>
      <mat-card-content>
       <p *ngFor="let comment of dish.comments">{{comment.comment}} <br>  {{comment.rating}} Star<br> --{{comment.author}} &nbsp;{{comment.date}} </p>
       
      </mat-card-content>
  </mat-card>
  
  
  <div class="container"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">
  <div>
    <div [hidden]="commentForm.invalid">
      <!-- <p > 
      <br> {{commentForm.value.rating}}&nbsp; Stars<br> --{{commentForm.value.author }}</p> -->
      <mat-list>
        <mat-list-item>
          <p mat-line>{{ commentForm.value.comment }}</p>
          <p mat-line>{{commentForm.value.rating}}&nbsp; Stars</p>
          <p mat-line>--{{commentForm.value.author }}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field  class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <!-- <mat-error *ngIf="feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched">First name is required</mat-error> -->
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
        
          <mat-slider formControlName="rating" thumbLabel min="1" max="5" step="1" value="5"  tickInterval="1"></mat-slider>
     
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid" >
          Submit</button>
      </form>
  </div>
  </div>
</div>